/* 
*{
  outline: 1px solid red;
} */
.account-details{
  display: inline-grid;
  grid-template-columns: auto auto;
}
.account-details p{
  margin: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  width: 250px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.card-container{
 display: grid;
 margin-top: 100px;
 max-width: 1100px;
 grid-template-columns: repeat(1,1fr);
 gap: 10px;
}

.homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroText{
  margin-top: 50px;
}

.card-image{
 width: 100px auto;
 margin: 12px;
 margin-bottom: 50px;
 border: 0px;
 border-style:solid ;
 border-radius: 10px;
 align-self: center;
}

.card-items{
  font-size: small;
  margin:10px 0 10px 0;
  padding:8px;
}

.card-items p{
  margin: 5px;
}

.log-in-box{
  display: flex;
  padding-top: 10px;
  height: 90%;
  align-items:center;
  justify-content: center;
}

.log-in{
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0.8px;
  border-radius: 5px;
  border-color:rgb(191, 210, 228);
  box-shadow: 0px 1px 5px 0px gray;
  max-height:500px;
  max-width: 500px;
  align-items:center;
}
.log-in .btn{
  width: 100px;
  height: 40px;
}
.log-in-with-txt{
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar-collapse{
  position: relative;
} 
.navbar-collapse .dropdown-menu{
  
  z-index: 1;
}
.nav-link:hover{
  background-color: #8EA32F;
}


.quantity{
  display: flex;
  flex-direction: row;
}
.quantity p{
  font-size: 11px;
}

.quantity-amt{
  font-size: 11px;
  font-weight: bold;
  width:"10px";
  width: 20px;
  height: 20px;
  padding-left: 5px;
  margin-left: 10px;
}

.btn{
  background-color:white;
  color: #8EA32F !important;
  border-color: #8EA32F !important;
  outline-color: #8EA32F;
  margin-top: 6px;
  padding: 5px;
  margin-bottom:8px;
  font-weight: bolder;
}
.btn:hover, .btn:active, .btn:visited {
  background-color: #8EA32F !important;
  border-color: #8EA32F !important;
  color: white !important;
  box-shadow: 0 0 0 0.2rem rgb(142, 163, 47, 0.25);
}

.form-control:hover, .form-control:focus{
  border-color: #8EA32F;
  box-shadow: 0 0 0 0.2rem rgb(142, 163, 47, 0.25);
}
.dropdown-item:hover{
  background-color: #8EA32F !important;
}
.navbar-toggler{
  border: 0px !important;
  color: white !important;
}
.navbar-toggler:hover{
  box-shadow: 0 0 0 0.2rem rgb(142, 163, 47, 0.25);
}

@media only screen and (min-width:520px) and (max-width:786px) {
  .card-container{
    grid-template-columns: repeat(2,1fr);
    max-width:520px;
   }
}
@media only screen and (min-width:786px) and (max-width:1100px){
  .card-container{
    grid-template-columns: repeat(3,1fr);
    max-width:786px;
   }
}
@media only screen and (min-width:1100px){
  .card-container{
    grid-template-columns: repeat(4,1fr);
   }
}